/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/static/V2.jpg');
    background-size: cover;
    background-position: center;
}

/* Container */
.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

/* Headings */
h1, h2 {
    color: #333;
    text-align: center;
}

/* Forms */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="number"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Buttons */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

.btn:hover {
    background-color: #0056b3;
}

.back-button {
    background-color: #ccc;
    color: #333;
}

.back-button:hover {
    background-color: #999;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Search and Filters */
.search-form {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.search-input, .filter-select, .search-button, .clear-button {
    padding: 8px 15px;
    border-radius: 5px;
    margin-right: 10px;
}

.search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.clear-button {
    background-color: #dc3545;
    color: #fff;
    text-decoration: none;
}

.clear-button:hover {
    opacity: 0.8;
}
